@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

*{
	box-sizing:border-box;
}

body {
	background: url('../assets/home1_0000_Layer Comp 3.jpg') no-repeat top center scroll;
	background-color:rgb(133,189,255);
	font-family: Helvetica;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	list-style-type: none;
	line-height: 1.5;
	position: relative;
}

header {
 	color: #fff; 
    padding: 22.5px;
}

nav a:link {
	font-family: Helvetica;
	color: rgb(94,52,33);
	margin: 22.5px;
	padding: 22.5px;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

nav a:hover {
	color: #000;
}

nav a:active {
	color: #000;
}

h1 { 
	font-family: 'Lobster', cursive;
	font-weight: normal;
	font-size: 150px;
	text-align:top, center;
	line-height: 1.25;
	color: rgb(94,52,33); 
	margin: 45px;
	padding: 45px;
}

h2 {
	background-color: #fff;
	font-size: 75px;
	font-family: 'EB Garamond', serif;
	color: rgb(94,52,33);
	margin: 45px;
	padding: cover;
}

section {
	padding: 45px 0;
}

article {
    background-color:;
    border: 1px black solid;
    padding: 45px;
}

h3 {
	background-color: #fff;
	font-size: 2em;
	font-family: 'EB Garamond', serif;
	color: rgb(94,52,33);
}

p {
	font-size: 2em;
	font-family: 'EB Garamond', serif;
	color: #3C3C3C;
}

aside {
	text-align: center;
	color: #3C3C3C;
	width: 80%;
	font-size: 2em;
}

h4 {
	background-color: #fff;
	font-size: 1.25em;
	font-family: 'EB Garamond', serif;
	color: rgb(94,52,33);
}

ul {
	font-size: .75em;	
}

footer {
	clear: both;
	background-size: cover;
	background-color: rgb(94,52,33);
	font-size: 1em;
	color: white;
	padding: 90px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.wrapper {
	width: 90%;
	background-color:;
	margin-left: auto;
	margin-right: auto;
}

#two_column {
	background-size: cover;
	background-color: rgb(94,52,33);
    border: 10px white solid;
    padding: 30px;
}

#left {
    background-color: #fff;
    padding: 30px;
    float: left;
    width: 62%;
}

#right {
    background-color: #fff;
    padding: 30px;
    float: right;   
    width: 30%;
}

@media screen and (max-width: 845px){
	section{
		width: 100%;
	}

	h4{
		font-size: 1em;
	}

	li{
		font-size: 1em;
	}
}

@media screen and (max-width: 745px){
	h4{
		font-size: .75em;
	}

	li{
		font-size: .75em;
	}

	p{
		font-size: 1.75em;
	}

	h1{
		font-size: 7em;
	}

	nav{
  		float:left;
  		display:inline;
		padding:5px; 
		margin:10px;
	}
}

@media screen and (max-width:650px){
	h1{
		font-size: 5em;
	}
}

@media screen and (max-width:520px){
	h1{
		font-size: 3em;
	}

	h2{
		font-size: 3em;
	}

	nav{
		display: block;
		padding:2px;
		margin:5px;
	}

	h4{
		font-size: .5em;
	}

	li{
		font-size: .5em;
	}

	p{
		font-size: 1em;
	}
}

@media only screen and (max-width: 520px){ 
	div{  
		float: none; 	
	} 

	section{  
		float: none; 
	} 

	article{  
		float: none;  
	} 

	aside{  
		float: none; 
	} 
}


