@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

*{
	margin:20px;
	padding:20px;
	box-sizing: border-box;
}

body {
	background: url('../assets/home1_0000_Layer Comp 3.jpg') no-repeat top center scroll;
	background-color: #FFE2B8;
	color: rgb(69,69,69);
	font-family: Helvetica;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	position: relative;
	list-style-type: none;
	line-height: 1.5;
}

header{
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav{
	text-align: center;
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;	
}


nav a {
	color:;
	display: block;
	width: px;
	float: left;
	padding: px 0;
}

nav a:hover {
	background-color:;
}

main {
	color: #3C3C3C;
	padding:300px 0;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

section{
	padding:50px 0;
}

h1{
	font-family: 'Lobster', cursive;
	font-weight: normal;
	font-size:120px;
	text-align:top, center;
	color:#3C3C3C;
	margin:10px 0 0;
}

h2{
	font-size:5em;
	font-family: 'EB Garamond', serif;
}

p{
	font-size:2em;
	font-family: 'EB Garamond', serif;
}

h3{
	font-size:3em;
	font-family: 'Lobster', cursive;
}

aside {
	padding-top: 20px;
	text-align: center;
	width: 900px;
}

footer {
	clear: both;
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

.Plant{
 	width: 40em;
 	position: center;
 	margin:20em auto;
 	background-color: white;
}

#wrapper {
	width: 1080px;
	background-color: #FFE2B8;
	margin-left: auto;
	margin-right: auto;
}










